<div class="content-container">
   
    <div class="model-type-list" >
        <!-- group table start -->
                 <div class="flex-row">
             <div class="fill-col padded-col">
                <label>Model Type</label>
             </div>
             <div class="fill-col padded-col">
             <label>Engine</label>
            </div>
              <div class="fill-col padded-col">
              <label>Operations</label>
             </div>
           </div>
         <nav id='modelTypeTable' class="striped-table">
           <div *ngFor="let e of evalScriptList" class="flex-row">
             <div class="fill-col padded-col">
               <a   class="icon-button">{{ e[0] }}</a>
             </div>
             <div class="fill-col padded-col">
               <a class="icon-button">{{ e[1] }}</a>
             </div>
              <div class="fill-col padded-col">
                <a href="javascript:"  class="icon-button" (click)="openEditEvalScriptModal(e[0], e[1]);"><i class="fas fa-edit"></i></a>
               <a href="javascript:"  class="icon-button" (click)="callModal('deleteEvalscript'); selectedModelType = e"><i class="far fa-trash-alt"></i></a>
             </div>
           </div>
         </nav>
     </div>
    </div>

    
<div class="tab-action-bar">
    <button  type="button" (click)="openEditEvalScriptModal(null, null)"><i class="fas fa-plus-circle"></i> Add Model Eval Script </button>&nbsp;&nbsp;

</div>
      
<!-- Modals start -->
<div class="modal-container" [ngSwitch]="activeModal">
    <app-modal title="Edit EvalScript" slug="editEvalScript" (modalCall)="callModal($event)" *ngSwitchCase="'editEvalScript'" #modal>
        <form [formGroup]="editEvalScriptForm" (ngSubmit)="editgetEvalScriptListFromModal(modal)">
        <div class="field-group">
          <label for="modelTypeNameInput">Name</label>
          <input id="modelTypeNameInput" formControlName="modelType" class="full-width-control" type="text" />
              <div *ngIf="editEvalScriptSubmitted && editEvalScriptForm.controls['modelType'].errors" class="invalid-feedback">
              <div *ngIf="editEvalScriptForm.controls['modelType'].errors['required']">name is required</div>
          </div>
          <label for="modelTypeEngineInput">Engine</label>
          <input id="modelTypeEngineInput" formControlName="engine" class="full-width-control" type="text" />
              <div *ngIf="editEvalScriptSubmitted && editEvalScriptForm.controls['engine'].errors" class="invalid-feedback">
              <div *ngIf="editEvalScriptForm.controls['engine'].errors['required']">engine is required</div>
          </div>

          <label for="modelTypeLoaderInput">Loader</label>
        
          <ngs-code-editor r id="modelTypeLoaderInput"
            [theme]=theme
            [codeModel]=loaderCodeModel
            [options]=options
          ></ngs-code-editor>

          <label for="modelTypeRequirementsInput">Requirements</label>
          <ngs-code-editor r id="modelTypeRequirementsInput"
            [theme]=theme
            [codeModel]=requirementsModel
            [options]=options
          ></ngs-code-editor>    
        </div>
        <div class="field-group field-group-last">
          <button id="createModelTypeBtn" type="submit">Save</button>&nbsp;&nbsp;
          <button id="abortCreateModelTypeBtn" type="button" (click)="modal.closeModal(); getEvalScriptList();selectedModelType=null;">Cancel</button>
        </div>
        </form>
      </app-modal>

    <app-modal [title]="'Delete Model Eval Script: &quot;' + selectedModelType + '&quot;'  + selectedEngine + '&quot;'" slug="deleteEvalscript" (modalCall)="callModal($event)" *ngSwitchCase="'deleteEvalscript'" #modal>
        
        <div class="field-group">
          <p>Are you sure you want to delete this Script? </p>
        </div>
        <div class="field-group field-group-last">
          <button type="button" (click)="modal.closeModal(); dataService.deleteEvalScript(selectedModelType, selectedEngine); selectedModelType=null; getEvalScriptList();">Ok</button>&nbsp;&nbsp;
          <button type="button" (click)="modal.closeModal(); selectedModelType=null">Cancel</button>
        </div>
        </app-modal>

        
</div>