<div class="flex-row padded-row flex-nowrap align-middle">
    <div class="card">
        <h4 class="card-header">Reset password</h4>
        <p>Please enter your email address to recieve a new password.</p>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <div class="card-body">
              <div class="field-group">
                <label for="email">Email</label>
                <input type="text" formControlName="email" class="full-width-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email not valid</div>
                  <div *ngIf="f.email.errors.maxlength">Email must be less or equal 45 characters</div>
                  <div *ngIf="f.email.errors.pattern">Email not valid</div>
              </div>
            </div>
            </div>
            <div class="field-group field-group-last align-right">
              <div class="fill-col">
                <a routerLink="/" routerLinkActive="active">Cancel</a>
              </div>
              <button [disabled]="loading" class="btn btn-primary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Reset
              </button>
            </div>
        </form>
    </div>
</div>
