

<ul id="sidebarButtonNav">
    <li><a class='sidebar-button' [class.sidebar-button-active]="activeTab == 'tab1'"
            rel="tab1" (click)="callMotionClips()">Motion Files</a></li>
    <li *ngIf="user.IsLoggedIn()"><a class='sidebar-button' [class.sidebar-button-active]="activeTab == 'tab2'"
            rel="tab2" (click)="callExperiments()">Experiments </a></li>
    <li *ngIf="user.IsLoggedIn()"><a class='sidebar-button' [class.sidebar-button-active]="activeTab == 'tab3'"
              rel="tab3" (click)="callMotionModelGraph()">Motion Model Graph</a></li>
  </ul>
      
  <div class="content-container">
  
        <!-- project list start -->
        <div id="projectList" class="project-list">
          <label for="projects">Project</label>
          <select [(ngModel)]="currentProject" (ngModelChange)="selectProject($event)" id="projects" class="full-width-control">
            <option *ngFor="let p of projectList"
                    (click)="initProject()"  value="{{ p[0] }}">{{ p[1] }}</option>
          </select>
          
        </div>&nbsp;
  
  
         <!-- skeleton list start -->
        <div id="skeletonList" class="skeleton-list">
            <label for="skeletons">Skeleton</label>
            <select [(ngModel)]="currentSkeleton" (ngModelChange)="selectSkeleton($event)" id="skeletons" class="full-width-control">
              <option *ngFor="let s of skeletonList" 
                      (click)="getFileList()"  value="{{ s[1] }}">{{ s[1] }}</option>
            </select>

         
          </div>&nbsp;
  
          <div id="tagList" class="tag-list">
          <label for="tag">Data Type Tag</label>
          <select [(ngModel)]="currentTag" (ngModelChange)="selectTag($event)" id="tag" class="full-width-control">
            <option *ngFor="let t of tagList" 
                    (click)="getFileList()"  value="{{ t[0] }}">{{ t[0] }}</option>
          </select>

        </div>&nbsp;

        <div id="filler" class="skeleton-menu">

          <div class="box">
            <div *ngIf="user.IsLoggedIn()" class="padded-col align-middle">
              <a href="javascript:" class="icon-button" (click)="callModal('addSkeleton')"><i class="fas fa-upload"></i></a>
            </div>
              <div *ngIf="user.IsLoggedIn()" class="padded-col align-middle">
              <a href="javascript:" class="icon-button" (click)="openEditSkeletonForm()"><i class="fas fa-edit"></i></a>
            </div>
            <div *ngIf="user.IsLoggedIn()" class="padded-col align-middle">
              <a href="javascript:" class="icon-button" (click)="deleteSkeleton();"><i class="far fa-trash-alt"></i></a>
            </div>
            &nbsp;
        </div>
        </div>   
        <div id="filler" class="tag-menu">

          <div class="box">
            <div *ngIf="user.IsLoggedIn()" class="padded-col align-middle">
              <a href="javascript:" class="icon-button" (click)="selectedTagForModal=''; openEditTagForm()"><i class="fas fa-plus-circle"></i></a>
            </div>
              <div *ngIf="user.IsLoggedIn()" class="padded-col align-middle">
              <a href="javascript:" class="icon-button" (click)="selectedTagForModal=currentTag; openEditTagForm()"><i class="fas fa-edit"></i></a>
            </div>
            <div *ngIf="user.IsLoggedIn()" class="padded-col align-middle">
              <a href="javascript:" class="icon-button" (click)="selectedTagForModal=currentTag; deleteTag();"><i class="far fa-trash-alt"></i></a>
            </div>
            &nbsp;
        </div>
        </div>
          <div id="collectionList" class="tree-view">
          <label for="collections">Collections</label>
           <tree-root #tree  [nodes]="collections"  (activate)="onSelectNode($event)" ></tree-root>
        
          </div>
          <!-- action list end -->
  
  
          <div class="tab-content-container" [ngSwitch]="activeTab">
              <div id="tab1" class="tab-body" *ngSwitchCase="'tab1'">
  
                <nav id="motionClipTable" class="striped-table">
                  <!-- m[0]: id, m[1]: name -->
                  <p *ngIf="!currentSkeleton" class="text-align-center field-group"><i class="far fa-hand-pointer"></i> Select a skeleton.</p>
                  <p *ngIf="currentSkeleton && !currentCollection" class="text-align-center field-group"><i class="far fa-hand-pointer"></i> Select a collection to display motion clips.</p>
                  <!-- motion table start -->
                  <p *ngIf="(currentSkeleton && currentCollection) && !motionsFound()" class="text-align-center field-group">No motion clips for the selected parameters found</p>
                
                  <app-editable-row  *ngFor="let m of fileList"  (refreshEvent)="onRefreshEvent($event)" [name]="m[1]" [fileId]="m[0]" [dataType]="m[2]" [enableDownload]="user.IsLoggedIn() || configService.config.enableDownload"  class="flex-row"></app-editable-row>
                     
                </nav>
                <!-- motion table end -->
            
              </div>
             <div id="tab2" class="tab-body" *ngSwitchCase="'tab2'">
                <p *ngIf="!currentSkeleton || !currentCollection" class="text-align-center"><i class="far fa-hand-pointer field-group"></i> Select a skeleton and tag first.</p>
                <p *ngIf="currentCollection && (!experimentList || experimentList.length == 0)" class="text-align-center field-group">No Experiments for the selected parameters found</p>
                
                <nav id='experimentTable' class="striped-table">
                  <div *ngFor="let m of experimentList" class="flex-row">
                    <div class="fill-col padded-col">
                      <a href="javascript:" class="icon-button" >{{ m[1] }}</a>
                    </div>
                    <div  class="padded-col align-middle"><!-- messageUnityInstance("AnimationGUI", "GetRandomSample",  m[0]) ;-->
                      <a href="javascript:" class="icon-button" (click)="openExperimentModal(m);"><i class="fa-solid fa-chart-line"></i></a>
                    </div>
                    <div  class="padded-col align-middle">
                      <a href="javascript:" class="icon-button" (click)="openDeleteExperimentModal(m);"><i class="fas fa-trash-alt"></i></a>
                    </div>
                  </div>
                </nav>
            
                
              </div>
            
              <div id="tab3" class="tab-body" *ngSwitchCase="'tab3'">
                <p *ngIf="!currentSkeleton || !currentCollection" class="text-align-center"><i class="far fa-hand-pointer field-group"></i> Select a skeleton and Action first.</p>
                <p *ngIf="currentCollection && (!graphList || graphList.length == 0)" class="text-align-center field-group">No Motion Graph for the selected parameters found</p>
                <!-- motion graph state table start -->
                <nav id='graphStateTable' class="striped-table">
                  <div *ngFor="let m of graphList" class="flex-row">
                    <div class="fill-col padded-col">
                      <a href="javascript:" class="icon-button" (click)='showStateGraphScene(m[0]);'>Load State Machine: {{ m[1] }}</a>
                    </div>
                  </div>
                </nav>
                <!-- motion graph state table end -->
            </div>
  
  
  
        </div>

  
  </div>
  
  
  
  
  <div class="tab-action-bar">
    <button *ngIf="user.IsLoggedIn()" type="button" (click)="openCollectionForm()"><i class="fas fa-plus-circle"></i> Add Collection</button>&nbsp;&nbsp;
    <button *ngIf="user.IsLoggedIn() && currentCollection" type="button" (click)="openRemoveCollectionModal()"><i class="fas fa-trash"></i> Remove Collection</button>&nbsp;&nbsp;
    <button *ngIf="user.IsLoggedIn() && currentCollection  && activeTab == 'tab1'" id="showUploadFileModalBtn" type="button" (click)="openImportBVHFileModal()"><i class="fas fa-upload"></i> Import BVH File</button>&nbsp;&nbsp;
  <button *ngIf="user.IsLoggedIn() && activeTab == 'tab1'" id="showUploadFileModalBtn" type="button" (click)="openUploadFileModal()"><i class="fas fa-upload"></i> Upload File</button>&nbsp;&nbsp;
  <button *ngIf=" configService.config.enableDataTransforms && user.IsLoggedIn() && currentCollection  && activeTab == 'tab1'" type="button" (click)="openRunDataTransformModal();"><i class="fa-solid fa-person-running"></i> Run Data Transform</button>
  </div>
  
  <div  *ngIf="!user.IsLoggedIn()" class="sidebar-footer field-group text-align-center">
    <hr />
    <br />
  
  </div>
  
  
  

<div class="modal-container" [ngSwitch]="activeModal">

  <!-- Modals start -->
  <app-modal title="Add Skeleton" slug="AddSkeleton" (modalCall)="callModal($event)" *ngSwitchCase="'addSkeleton'" #modal>
    <form [formGroup]="addSkeletonForm" (ngSubmit)="addSkeleton(modal)">
    <div class="field-group">
      <label for="skeletonName">Skeleton Name</label>
      <input id="skeletonName" formControlName="skeletonName" class="full-width-control" type="text" />
  
    </div>
    <div class="field-group">
      <input id="uploadSkeletonFileBtn" formControlName="skeletonFile" class="full-width-control" (change)="handleSkeletonFileInput($event.target)" type="file" multiple />
      <div *ngIf="skeletonSubmitted && addSkeletonForm.controls['skeletonFile'].errors" class="invalid-feedback">
          <div *ngIf="addSkeletonForm.controls['skeletonFile'].errors['required']">Select one skeleton file.</div>
      </div>
  </div>
    <div class="field-group field-group-last">
      <button id="addSkeletonBtn" type="submit">Add</button>&nbsp;&nbsp;
      <button id="abortAddSkeletonBtn" type="button" (click)="modal.closeModal()">Cancel</button>
    </div>
    </form>
  </app-modal>
  
  
  <app-modal [title]="'Edit Skeleton: &quot;' + currentSkeleton + '&quot;'" slug="EditSkeleton" (modalCall)="callModal($event)" *ngSwitchCase="'editSkeleton'" #modal>
    <form [formGroup]="editSkeletonForm" >
  
    <div class="field-group">
      
    <label >Character Model List</label>
    <div *ngFor="let c of characterList" class="flex-row">
        <div class="fill-col padded-col">
          <a >{{ c }}</a>
        </div>
        <div class="padded-col align-middle">
          <a href="javascript:" class="icon-button" (click)="deleteCharacter(c);"><i class="far fa-trash-alt"></i></a>
        </div>
      </div>
  </div>
    <div class="field-group">
      <input id="uploadCharacterFileBtn" formControlName="characterFile" class="full-width-control" (change)="handleCharacterFile($event.target)" type="file" multiple />
      <div *ngIf="skeletonSubmitted && editSkeletonForm.controls['characterFile'].errors" class="invalid-feedback">
          <div *ngIf="editSkeletonForm.controls['characterFile'].errors['required']">Select a GLTF file.</div>
      </div>
      <button id="uploadCharacterBtn" type="button" (click)="uploadCharacter()">Upload</button>&nbsp;&nbsp;
  </div>
    <div class="field-group field-group-last">
      <button id="abortEditSkeletonBtn" type="button" (click)="modal.closeModal()">Close</button>
    </div>
    </form>
  </app-modal>
  
  <app-modal [title]="'Delete Skeleton: &quot;' + selectedSkeleton + '&quot;'" slug="deleteSkeleton" (modalCall)="callModal($event)" *ngSwitchCase="'deleteSkeleton'" #modal>
    <div class="field-group">
      <p>Are you sure you want to remove this skeleton? You will not be able to undo this.</p>
    </div>
    <div class="field-group field-group-last">
      <button type="button" (click)="modal.closeModal(); dataService.deleteSkeleton(selectedSkeleton); getSkeletonModels()">Ok</button>&nbsp;&nbsp;
      <button type="button" (click)="modal.closeModal()">Cancel</button>
    </div>
  </app-modal>
  
  
  <app-modal title="New Collection" slug="newCollection" (modalCall)="callModal($event)" *ngSwitchCase="'newCollection'" #modal>
    <form [formGroup]="newCollectionForm" (ngSubmit)="createCollection(modal)">
    <div class="field-group">
      <label for="newCollectionNameInput">Collection Name</label>
      <input id="newCollectionNameInput" formControlName="newCollectionName" class="full-width-control" type="text" />
      
      <label for="newCollectionTypeInput">Collection Type</label>
      <input id="newCollectionTypeInput" formControlName="newCollectionType" class="full-width-control" type="text" />
      <div *ngIf="collectionSubmitted && newCollectionForm.controls['newCollectionName'].errors" class="invalid-feedback">
          <div *ngIf="newCollectionForm.controls['newCollectionName'].errors['required']">Collection name is required</div>
      </div>
    </div>
    <div class="field-group field-group-last">
      <button id="newCollectionBtn" type="submit">Create</button>&nbsp;&nbsp;
      <button id="abortNewACollectionBtn" type="button" (click)="modal.closeModal()">Cancel</button>
    </div>
    </form>
  </app-modal>
  
  <app-modal [title]="'Remove Collection: &quot;' + currentCollectionName + '&quot;'" slug="removeCollection" (modalCall)="callModal($event)" *ngSwitchCase="'removeCollection'" #modal>
    <div class="field-group">
      <p>Are you sure you want to remove this collection? You will not be able to undo this.</p>
    </div>
    <div class="field-group field-group-last">
      <button type="button" (click)="modal.closeModal(); removeCollection(currentCollection)">Ok</button>&nbsp;&nbsp;
      <button type="button" (click)="modal.closeModal()">Cancel</button>
    </div>
  </app-modal>
  

  
  <app-modal title="Import BVH File" slug="importBVHFile" (modalCall)="callModal($event)" *ngSwitchCase="'importBVHFile'" #modal>
    <form [formGroup]="bvhFileUploadForm" (ngSubmit)="importBVHFile(modal)">
  
    <div id='skeletonModelList' class="field-group">
      <label for="skeletonModel">Skeleton</label>
      <select id='skeletonModel' formControlName="skeletonTarget" class="full-width-control">
        <option *ngFor="let skeleton of skeletonList"
          value="{{ skeleton[1] }}">{{ skeleton[1] }}</option>
      </select>
      <div *ngIf="bvhSubmitted && bvhFileUploadForm.controls['skeletonTarget'].errors" class="invalid-feedback">
          <div *ngIf="bvhFileUploadForm.controls['skeletonTarget'].errors['required']">Select a skeleton</div>
      </div>
      </div>
      <div class="field-group">
        <input id="importBVHFilesBtn" formControlName="bvhFiles" class="full-width-control" (change)="handleBVHFileInput($event.target)" type="file" multiple />
        <div *ngIf="bvhSubmitted && bvhFileUploadForm.controls['bvhFiles'].errors" class="invalid-feedback">
            <div *ngIf="bvhFileUploadForm.controls['bvhFiles'].errors['required']">Select at least one BVH file.</div>
        </div>
    </div>
    <div class="field-group field-group-last">
      <button type="button" type="submit">Upload</button>&nbsp;&nbsp;
      <button id="abortUploadMotionBtn" type="button" (click)="modal.closeModal()">Cancel</button>
    </div>
    </form>
  </app-modal>
  
  <app-modal title="Upload File" slug="uploadFile" (modalCall)="callModal($event)" *ngSwitchCase="'uploadFile'" #modal>
    <form [formGroup]="uploadFileForm" (ngSubmit)="uploadFile(modal)">
    <div class="field-group">

      <div id='skeletonModelList' class="field-group">
        <label for="skeletonModel">Skeleton</label>
        <select id='skeletonModel' formControlName="skeletonTarget" class="full-width-control">
          <option *ngFor="let skeleton of skeletonList"
            value="{{ skeleton[1] }}">{{ skeleton[1] }}</option>
        </select>
        <div *ngIf="uploadFileSubmitted && uploadFileForm.controls['skeletonTarget'].errors" class="invalid-feedback">
            <div *ngIf="uploadFileForm.controls['skeletonTarget'].errors['required']">Select a skeleton</div>
        </div>
        </div>
        
    <div id='dataTypeList' class="field-group">
      <label for="dataType">Data Type</label>
      <select id='dataType' formControlName="dataType" class="full-width-control">
        <option *ngFor="let dt of dataTypeList"
          value="{{ dt }}">{{ dt }}</option>
      </select>
      <div *ngIf="uploadFileSubmitted && uploadFileForm.controls['dataType'].errors" class="invalid-feedback">
          <div *ngIf="uploadFileForm.controls['dataType'].errors['required']">Select a data type</div>
      </div>
      </div>
      
      <input id="uploadFileBtn" class="full-width-control" formControlName="files" name="files[]" type="file"  (change)="handleBinaryFile($event.target)" />
      <div *ngIf="uploadFileSubmitted && uploadFileForm.controls['files'].errors" class="invalid-feedback">
          <div *ngIf="uploadFileForm.controls['files'].errors['required']">Select a file</div>
      </div>
    </div>
    
    <div class="field-group field-group-last">
      <button type="button" type="submit">Upload</button>&nbsp;&nbsp;
      <button id="abortUploadFileBtn" type="button" (click)="modal.closeModal()">Cancel</button>
    </div>
    </form>
  </app-modal>


  <app-modal title="Edit Tag" slug="editTag" (modalCall)="callModal($event)" *ngSwitchCase="'editTag'" #modal>
  <form [formGroup]="editTagForm" (ngSubmit)="editTagFromModal(modal)">
  <div class="field-group">
    <label for="tagName"> Name</label>
    <input id="tagName" formControlName="name" class="full-width-control" type="text" />
    
  </div>
  <div class="field-group field-group-last">
    <button id="saveTagBtn" type="submit">Save</button>&nbsp;&nbsp;
    <button id="aborteditTagBtn" type="button" (click)="modal.closeModal()">Cancel</button>
  </div>
  </form>
</app-modal>


  <app-modal [title]="'Delete Tag: &quot;' + selectedTagForModal + '&quot;'" slug="deleteTag" (modalCall)="callModal($event)" *ngSwitchCase="'deleteTag'" #modal>
    <div class="field-group">
      <p>Are you sure you want to delete this Tag? You will not be able to undo this.</p>
    </div>
    <div class="field-group field-group-last">
      <button type="button" (click)="modal.closeModal(); dataService.removeDataTag(currentTag); getTagList(); getFileList()">Ok</button>&nbsp;&nbsp;
      <button type="button" (click)="modal.closeModal(); ">Cancel</button>
    </div>
  </app-modal>


  <app-modal [title]="'Plot Experiment: &quot;' + currentExp[1] + '&quot;'" slug="plotExperiment" (modalCall)="callModal($event)" *ngSwitchCase="'plotExperiment'" #modal>
    <div class="field-group">
      <div class="chart-container">
        <canvas id="MyChart"></canvas>
        </div>
    </div>
    <div class="field-group field-group-last">
      <button type="button" (click)="refreshPlotData()">Refresh</button>&nbsp;&nbsp;
      <button type="button" (click)="modal.closeModal(); ">Close</button>
    </div>
  </app-modal>

  
<app-modal [title]="'Delete Experiment: &quot;' + currentExp[1] + '&quot;'" slug="deleteExperiment" (modalCall)="callModal($event)" *ngSwitchCase="'deleteExperiment'" #modal>
  <div class="field-group">
    <p>Are you sure you want to delete this Experiment? </p>
  </div>
  <div class="field-group field-group-last">
    <button type="button" (click)="modal.closeModal(); dataService.deleteExperiment(currentExp[1]); getExperimentList()">Ok</button>&nbsp;&nbsp;
    <button type="button" (click)="modal.closeModal(); ">Cancel</button>
  </div>
  </app-modal>


  <app-modal [title]="'Run Data Transform in Collection: &quot;' + currentCollectionName + '&quot;'" slug="runDataTransform" (modalCall)="callModal($event)" *ngSwitchCase="'runDataTransform'" #modal>
    <form [formGroup]="runDataTransformForm" (ngSubmit)="runDataTransformFromModal(modal)">
    <div class="field-group">
      <label for="dataTypeNameInput">Name</label>
      <input id="dataTypeNameInput" formControlName="name" type="text" />
      <div *ngIf="runDataTransformSubmitted && runDataTransformForm.controls['name'].errors" class="invalid-feedback">
      <div *ngIf="runDataTransformForm.controls['name'].errors['required']">name is required</div>
  </div>
  <div class="field-group">
  <label for="dataTransform">Data Transform </label>
  <select formControlName="dataTransform" (ngModelChange)="selectDataTransform($event)" >
    <option *ngFor="let dt of dataTransformList" [value]="dt[0]">{{dt[1]}}</option>
  </select>
  </div>
  <div class="field-group">
  <label for="inputSkeleton">Input Skeleton </label>
  <select formControlName="inputSkeleton">
    <option *ngFor="let s of skeletonList" [value]="s[1]">{{s[1]}}</option>
  </select>
  </div>
  <div class="field-group">
  <label for="outputSkeleton">Output Skeleton </label>
  <select formControlName="outputSkeleton">
    <option *ngFor="let s of skeletonList" [value]="s[1]">{{s[1]}}</option>
  </select>
  </div>
  <div class="field-group">
  <label for="storeLog">Store Log </label>
  <input formControlName="storeLog"  type="checkbox" />
</div>

<div class="field-group">
  <label for="dataTransformHParams">Parameters</label>
  <textarea id="dataTransformHParams" formControlName="parameters" style="width:850px;height:50px;"></textarea>
          
</div>
<div class="field-group">
  <label for="runOnCluster">Run On Cluster </label>
  <input formControlName="runOnCluster" type="checkbox"  (change)="runOnClusterChanged()"/>
</div>
<div class="field-group">
<div class="field-group">
  <label for="clusterUser">User</label>
  <input id="clusterUser" formControlName="clusterUser"  type="text" />
 
</div>
<div class="field-group">
  <label for="clusterPassword">Password</label>
  <input id="clusterPassword" formControlName="clusterPassword" type="password" />
 
</div></div>
<div class="field-group">
  <label for="clusterURL">URL</label>
  <input id="clusterURL" formControlName="clusterURL"  type="text" />
 
</div>
<div class="field-group">
  <label for="clusterImage">Image</label>
  <input id="clusterImage" formControlName="clusterImage"  type="text" />
 
</div>
</div>
    <div class="field-group field-group-last">
      <button id="runDataTransformBtn" type="submit">Run</button>&nbsp;&nbsp;
      <button id="abortRunDataTransformBtn" type="button" (click)="modal.closeModal(); ">Cancel</button>
    </div>
    </form>
  </app-modal>

  <!-- modals end -->
  </div>
  