

<ul id="sidebarButtonNav">
    <li><a class='sidebar-button' [class.sidebar-button-active]="activeTab == 'tab1'"
            rel="tab1"(click)="ShowProjectList()" > Project List</a></li>
    <li *ngIf="user.currentUser"><a class='sidebar-button' [class.sidebar-button-active]="activeTab == 'tab2'" rel="tab2" (click)="ShowUserList()" >User List</a></li>
  </ul>
      
  <div class="content-container">
        <div id="filler" class="grid-filler">
            &nbsp;
        </div>
          <div class="tab-content-container" [ngSwitch]="activeTab">
               <!-- group table start -->
              <div id="tab1" class="tab-body" *ngSwitchCase="'tab1'">
                        <div class="flex-row">
                    <div class="fill-col padded-col">
                       <label>ID</label>
                    </div>
                     <div class="fill-col padded-col">
                     <label>Name</label>
                    </div>
                     <div class="fill-col padded-col">
                     <label>Operations</label>
                    </div>
                  </div>
                <nav id='projectTable' class="striped-table">
                  <div *ngFor="let m of projectList" class="flex-row">
                    <div class="fill-col padded-col">
                      <a  href="#" class="icon-button" >{{ m[0] }}</a>
                    </div>
                     <div class="fill-col padded-col">
                      <a  href="#" class="icon-button" >{{ m[1] }}</a>
                    </div>
                     <div class="fill-col padded-col">
                      <a href="javascript:"  class="icon-button" (click)="openEditProjectModal(m); callModal('editProject');">edit &nbsp;</a>
                      <a href="javascript:"  class="icon-button" (click)="openDeleteProjectModal(m); callModal('deleteProject');">delete<i class="icon-remove"></i> </a>
                    </div>
                  </div>
                </nav>
            </div>
            
            
            
               <!-- user table start -->
              <div id="tab2" class="tab-body" *ngSwitchCase="'tab2'">
               
                <nav id='userTable' class="striped-table"> 
                  <form [formGroup]="userTableForm" >
                    <div class="flex-row">
                        <div class="fill-col padded-col">
                          <label>ID</label>
                        </div>
                        <div class="fill-col padded-col">
                        <label>Name</label>
                        </div>
                        <div class="fill-col padded-col">
                          <label>Role</label>
                        </div>
                        <div class="fill-col padded-col">
                        <label>Delete</label>
                      </div>
                      </div>
                      <div *ngFor="let ctrl of userTableForm.controls | keyvalue" class="flex-row">
                        <div class="fill-col padded-col">
                          <a  href="#" class="icon-button" >{{ctrl.value.userID}}</a>
                        </div>
                        <div class="fill-col padded-col">
                          <a  href="#" class="icon-button" >{{ctrl.value.name}}</a>
                        </div>
                        <div class="fill-col padded-col">
                          <select [formControlName]="ctrl.key" (change)="changeUserRole(ctrl.value.userID, $event)" >
                            <option *ngFor="let role of oppoRole" [value]="role" [selected]="ctrl.value.role==role">{{role}}</option>
                          </select>
                        </div>
                        <div class="fill-col padded-col">
                          <a href="javascript:"  class="icon-button" (click)="openDeleteUserModal(m); callModal('deleteUser');">delete</a>
                        </div>
                      </div>
                  </form>
                </nav>
                <!-- user table end -->
            </div>
           </div>
  </div>
  
  
  
  <div class="tab-action-bar">
    <button *ngIf="user.currentUser && activeTab == 'tab1'" type="button" (click)="callModal('addProject');"><i class="fas fa-plus-circle"></i> Add Project </button>&nbsp;&nbsp;
  
  </div>
  
  <!-- Modals start -->
  <div class="modal-container" [ngSwitch]="activeModal">
  
  <app-modal title="Create Project" slug="addProject" (modalCall)="callModal($event)" *ngSwitchCase="'addProject'" #modal>
    <form [formGroup]="addProjectForm" (ngSubmit)="createProjectFromModal(modal)">
    <div class="field-group">
      <label for="projectNameInput">Project Name</label>
      <input id="projectNameInput" formControlName="projectName" class="full-width-control" type="text" />
          <div *ngIf="groupSubmitted && addProjectForm.controls.projectName.errors" class="invalid-feedback">
          <div *ngIf="addProjectForm.controls.projectName.errors.required">project name is required</div>
      </div>
      <label for="groupIsPublicInput">IsPublic</label>
      <input id="groupIsPublicInput" formControlName="isPublic" class="full-width-control" type="checkbox" />

    </div>
    <div class="field-group field-group-last">
      <button id="createProjectBtn" type="submit">Create</button>&nbsp;&nbsp;
      <button id="abortCreateProjectBtn" type="button" (click)="[modal.closeModal(), getProjectList()]">Cancel</button>
    </div>
    </form>
  </app-modal>
  
  <app-modal title="Edit Project" slug="editProject" (modalCall)="callModal($event)" *ngSwitchCase="'editProject'" #modal>
    <form [formGroup]="editProjectForm" (ngSubmit)="editProjectFromModal(modal)">
    <div class="field-group">
      <label for="editProjectInput">Project Name</label>
      <input id="editProjectInput" formControlName="projectName" class="full-width-control" type="text" /> 
      
          <div *ngIf="editProjectSubmitted && editProjectForm.controls.projectName.errors" class="invalid-feedback">
          <div *ngIf="editProjectForm.controls.projectName.errors.required">project name is required</div>
      </div>
    </div>
    
      <div class="field-group">
      <label for="editProjectInput"> Project Members </label>
       </div>
      <div class="field-group">
      <select multiple formControlName="projectMemberList">
          <option *ngFor="let user of selectedProjectUserList" [ngValue]="user">{{user[1]}} </option>
      </select>
      <button id="removeUserFromProjectBtn" type="button" (click)="[removeUserFromProjectInModal()]">Remove</button>&nbsp;&nbsp;
       </div>
       
      <div class="field-group">
      <label for="editProjectInput"> All Users</label>
       </div>
      <div class="field-group">
      <select multiple formControlName="userList">
          <option *ngFor="let user of userList" [ngValue]="user">{{user[1]}} </option>
      </select>
      <button id="addUserToProjectBtn" type="button" (click)="[addUserToProjectInModal()]">Add</button>&nbsp;&nbsp;
       </div>
      
    <div class="field-group field-group-last">
      <button id="editProjectBtn" type="submit">Save</button>&nbsp;&nbsp;
      <button id="abortEditProjectBtn" type="button" (click)="[modal.closeModal()]">Cancel</button>
    </div>
    </form>
  </app-modal>
  <app-modal [title]="'Delete Project: &quot;' + selectedProject[1] + '&quot;'" slug="deleteProject" (modalCall)="callModal($event)" *ngSwitchCase="'deleteProject'" #modal>
    <div class="field-group">
      <p>Are you sure you want to delete this Project? </p>
    </div>
    <div class="field-group field-group-last">
      <button type="button" (click)="[modal.closeModal(), dataService.deleteProject(selectedProject[0]), getProjectList()]">Ok</button>&nbsp;&nbsp;
      <button type="button" (click)="[modal.closeModal(), selectedProject=none]">Cancel</button>
    </div>
  </app-modal>


  <app-modal [title]="'Delete User &quot;' + selectedUser[1] + '&quot;'"  slug="deleteUser" (modalCall)="callModal($event)" *ngSwitchCase="'deleteUser'" #modal>
    <div class="field-group">
      <p>Are you sure you want to delete this User? </p>
    </div>
    <div class="field-group field-group-last">
      <button type="button" (click)="[modal.closeModal(), dataService.deleteUser(selectedUser[0]), getUserList()]">Ok</button>&nbsp;&nbsp;
      <button type="button" (click)="[modal.closeModal(), selectedUser=none]">Cancel</button>
    </div>
  </app-modal>

  </div>