<div class="padded-row">
    <p><a routerLink="/" routerLinkActive="active">&laquo; Back</a></p>
    <h1><a id="IMPRESSUM_0"></a>Impressum</h1>
    <h3>Deutsches Forschungszentrum für Künstliche Intelligenz GmbH, DFKI</h3>
    <p><strong>E-Mail</strong>: <a href="mailto:info@dfki.de">info@dfki.de</a></p>
    <p><strong><u>Briefadresse:</u></strong><br />
      <strong>Standort Saarbrücken</strong><br />
      Campus D3_2<br />
      Stuhlsatzenhausweg 3<br />
      D-66123 Saarbrücken<br />
      <br />
      Telefon: +49 (0)681 / 857 75-0<br />
      Telefax: +49 (0)681 / 857 75-5341
    </p>
    <p>
      <strong>Projektleiter der Bewegungsdatenbank</strong><br />
      Dr. Klaus Fischer
    </p>
    <p>
      <strong>Vertretungsberechtigte Geschäftsführer</strong><br />
      Prof. Dr. Dr. h.c. mult. Wolfgang Wahlster (Vorsitzender)<br />
      Dr. Walter Olthoff
    </p>
    <p>
      <strong>Vorsitzender des Aufsichtsrates</strong><br />
      Prof. Dr. h.c. Hans A. Aukes
    </p>
    <p><strong>Registergericht: </strong>Amtsgericht Kaiserslautern</p>
    <p><strong>Registernummer: </strong>HRB 2313</p>
  </div>
  